[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena.git
[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/balena-io/contracts.git
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky.git
	branch = kirkstone
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = kirkstone
[submodule "layers/meta-toradex-bsp-common"]
	path = layers/meta-toradex-bsp-common
	url = https://git.toradex.com/cgit/meta-toradex-bsp-common.git
	branch = kirkstone-6.x.y
[submodule "layers/meta-toradex-nxp"]
	path = layers/meta-toradex-nxp
	url = https://git.toradex.com/cgit/meta-toradex-nxp.git
	branch = kirkstone-6.x.y
[submodule "layers/meta-freescale"]
	path = layers/meta-freescale
	url = https://github.com/Freescale/meta-freescale.git
	branch = kirkstone
[submodule "layers/meta-freescale-3rdparty"]
	path = layers/meta-freescale-3rdparty
	url = https://github.com/Freescale/meta-freescale-3rdparty.git
	branch = kirkstone
